.mylogo{
    width: 200px;
}
.card-body{
    background-color: darkkhaki;
}
.btn-big{
    padding: 20px 40px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
}
footer .card-img-overlay{
    background: rgba(0, 0, 0, 0.5);
}